<div>
  <ul>
  

      {{#each productos}}
        <li> Nombre: {{this.titulo}}  - Precio: {{this.precio}} - Descripcion:{{this.descripcion}} </li> 
       

      {{/each}}

    </li>
  </ul>
</div>

 <script src="/js/home.js"></script> 