<div>
  <h1>El token expiro, haz click para recibir de nuevo el correo de
    reestablecimiento
  </h1>

  <label>Email</label>
  <input id="emailInput" name="email" />

  <br />

  <button id="restablecer"> Restablecer</button>
</div>

<script src="/js/restablecer.js"></script>